.underHeader {
    background-color: #232f3e;
    display: flex;
    align-items: center;
}

.underHeader__deliver {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 100px;
}

.underHeader__deliver__info {
    display: flex;
    position: static;
    flex-flow: column nowrap;
    padding-bottom: 5px;
    color: white;
}

.underHeader__deliver__info__one {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    margin-top: 4px;
}

.underHeader__deliver__info__two {
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}

.underHeader__nav__link{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;
}